.main {
    /* background-color: black */
    /* height: 100vh; */
    font-family: lexend;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.scrollWatcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lightblue;
    width: 100%;
    scale: 0 1;
    animation: scrollWatcher linear;
    transform-origin: left;
    animation-timeline: scroll();
}

@keyframes scrollWatcher {
    to {scale: 1 1;}
}

.topBackground {
    background-image: url('../../assets/futuristic.jpg');
    background-size: cover;
    background-position:bottom;
    height: 100vh;
    width: 100%;
    position: relative;
    transform-origin: bottom;
    animation: background-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes background-image-animation {
    25% {opacity: 1;}
    85%, 100% {opacity: 0;}
}

.content {
    display: flex;
    flex-direction: column;
    /* margin-left: 20%; */
    margin-right: 0;
    margin-top: 20vh;
}

.main_headline {
    color: #ffffff;
    font-family: lexend;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 800%;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;

}

.slogen {
    color: #ffffff;
    font-family: lexend;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 50px;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

.mainContent {
    color: #ffffff;
    font-family: lexend;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 130%;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 200%;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.middleSection {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    height: 300px;
}

.middleSectionHeadline {
    font-size: 400%;
    margin-left: 10vh;
}

.theProblemTextContent {
    line-height: 400%;
    margin-left: 5vh;
    margin-right: 5vh;

}

.buttomSection {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    height: 300px;
    margin-bottom: 20vh;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.buttomSectionHeadline {
    font-size: 400%;
    margin-left: 10vh;
    align-content: center;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10px;
    width: 100%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    background-color: #ffffff;
    filter: blur(40px);
    height: 30%;
    width: 30%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    display: flex;
    position: absolute;
    left: 0px;
    /* z-index: 0; */
}

.circle2 {
    background-color: #ffffff;
    filter: blur(50px);
    height: 50%;
    width: 30%;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 0px;
    z-index: 0;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    position: relative;
    align-items: center;
}

.drone1 {
    z-index: 1;
    display: flex;
    position: absolute;
    right: 20%;
    background: transparent;
    width: 500px;
    height: 300px;
    margin-top: 50px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 900px;
}

@keyframes fade-in {
    from {
        scale: 0.8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}

.homeIcons {
    display: flex;
    flex-direction: column;
    color: white;
    ;
}

.homeUpperIcons {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    color: white;
    margin-bottom: 20px;
}

.homeButtoIcons {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    color: white;
    margin-top: 100px;
}

.homeIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 100px;
}