.ResetPassword_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.ResetPassword_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.ResetPassword_frame {
    height: 400px;
    width: 250px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

.ResetPassword_Button {
    align-self: center;
    margin-bottom: 10%;
}

.ResetPassword_form {
    display: flex;
    height: 200px;
}

.ResetPassword_form_name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inputComp {
    margin-bottom: 20px;
}

.ResetPassword_submit_button {
    background-color: #B943B4;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 20px;
    width: 100px;
    display: block;
    margin: auto;
}

.ResetPassword_wrapInputAndIcon {
    position:relative;
}

.ResetPassword_eyeCanceldIcon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer; 
}

.ResetPassword_eyeIcon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

.forgotPass {
    text-align: center;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    cursor: pointer;
}
