
.userFullStats_main {
    color: white;
    font-family: lexend;
    position: relative;
}

.userFullStats_headline {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.userFullStats_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.userFullStats_charts {
    width: 75%;
    margin-right: 20px;
    padding: 0px 20px 20px 20px;
}

.userFullStats_sideContent {
    width: 10%;
}

.userFullStats_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 150px;
    color: white;
    width: 15%;
    margin-right: 10px;
    height: fit-content;
    padding: 10px;
    background-color: #2E2D2D;
    margin-top: 50px;
}

.userFullStats_pic {
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    align-self: center;
    position: relative;
    align-self: flex-start;
}

.userFullStats_list {
    font-size: 13px;
    font-weight:lighter;
    margin-left: 15px;
    line-height: 50px;
}

.userFullStats_upper_chart_section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
    width: initial;
    background-color: rgba(46, 45, 45, 0.3);
} 

.userFullStats_mainView_line_left {
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px; */
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 20px 0px 0px;
    padding: 2%;
}

.userFullStats_mainView_line_right {
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px; */
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 0px 0px 20px;
    padding: 2%
}

.userFullStats_middle_chart_section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
    width: initial;
    background-color: rgba(46, 45, 45, 0.3);
} 

.userFullStats_bar_left {
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px; */
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 20px 0px 0px;
    padding: 2%;
}

.userFullStats_bar_right {
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px; */
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px 0px 0px 20px;
    padding: 2%
}

.userFullStats_lower_chart_section{
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px; */
    margin: 20px 0px 20px 0px;
    height: 33vh;
    display: flex;
    flex-direction: row;
} 

.userFullStats_pie_section {
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    height: fit-content;
}

.userFullStats_pie_pie {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: 20%;
    height: fit-content;
}

.userFullStats_num_left, .singleUser_num_right, .singleUser_num_middle {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
}

.userFullStats_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-left: 20px;
}

.userFullStats_SubInfo {
    width: 30%;
    background-color: #2E2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
}

.userFullStats_num_numLeft {
    padding: 10px;
}

.userFullStats_num_textLeft, .singleUser_num_textMiddle, .singleUser_num_textRight {
    font-size: smaller;
    font-weight: 200;
    margin-top: 20px;
}

.userFullStats_sideData {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.userFullStatsTrend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    align-items: center;
}

.userFullStats_text {
    font-size: small;
    margin: 10px 0px 10px 0px;
    font-weight: 200;
}
