
.MuiInputBase-root {
    width: 150px;
    /* background-color:#464545; */
  } 

  .MuiInputLabel-root {
    color: rgb(235, 224, 236) !important;

  } 

  /* .MuiFormControl-root {
    
  } */

/* .select_main {
  height: 30px;
  margin-bottom: 50px;
} */