
.MuiInputBase-root {
    width: 150px;
    background-color:#464545;
  } 

  .MuiInputLabel-root {
    color: rgb(235, 224, 236) !important;
  } 

  .MuiFormControl-root {
    
  }

  .select_main {
    margin: 5px;
  }

  .select_main_form {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(138, 136, 138);
  }