.btn{
    cursor: pointer;
    font-family: lexend;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: small;
}

.btn.btn-darkStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 0.5px;
    height: 2.5rem;
    color:#ffffff;
    background-color:#2d2b30; 
}

.btn.btn-lightStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 0.5px;
    height: 2.5rem;
    color: black;
    background-color: #ffffff; 
}

.btn.btn-approveStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 0.5px;
    height: 2.5rem;
    color: black;
    background-color: #b9acce; 
}

.btn.btn-cancelStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 0.5px;
    height: 2.5rem;
    color: black;
    background-color: #ffffff; 
}

.btn-btn-enable {
    opacity: 1; 
}

.btn-disabled {
    opacity: 0.5; 
}

.btn:hover {
    border: 1px solid  #58545f;
  
    background-color:#413d47;
  
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #58545f),
      color-stop(100%, #413d47)
    );
  }


