.btn{
    cursor: pointer;
    font-family: lexend;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: medium;
}

.btn.btn-darkStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 20px;
    border-width: 0.5px;
    height: 3rem;
    color:#ffffff;
    background-color: black; 
}

.btn.btn-lightStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 20px;
    border-width: 0.5px;
    height: 3rem;
    color: black;
    background-color: #ffffff; 
}

.btn.btn-approveStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 20px;
    border-width: 0.5px;
    height: 3rem;
    color: black;
    background-color: #B943B4; 
}

.btn.btn-cancelStyle {
    border-style: solid;
    width: 9rem;
    border-color: #ffffff;
    border-radius: 20px;
    border-width: 0.5px;
    height: 3rem;
    color: black;
    background-color: #ffffff; 
}

.btn-btn-enable {
    opacity: 1; 
}

.btn-disabled {
    opacity: 0.5; 
}

.btn:hover {
    border: 1px solid  hsl(303, 39%, 58%);
  
    background-color: #B943B4;
  
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #B943B4),
      color-stop(100%, hsl(303, 39%, 58%))
    );
  }


